table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-color: green;
}
td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
input {
    text-align: center;
    width: 50px;
}
td {
    width: 90px;
    height: 106px;
}
span {
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 132px;
    margin-top: 50px;
}